<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ERDaddy</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       File
      </a>
                <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item" id="newDiagramLink" href="#">New...</a>
                    <a class="dropdown-item" id="cloneDiagramLink" href="#">Clone...</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="saveToLocalStorageLink" href="#">Save...</a>
                    <a class="dropdown-item" id="saveToFileLink" type="text/json" download="Download.json" href="#">Save to File</a>

                    <div class="dropdown-divider"></div>

                    <div class="dropdown-submenu">
                        <a id="openExpand" class="dropdown-item" href="#" tabindex="-1">Open...</a>
                        <ul id="openExpandContent" class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                            <li><a tabindex="-1" href="#">Action</a></li>
                            <li><a tabindex="-1" href="#">Another action</a></li>
                            <li><a tabindex="-1" href="#">Something else here</a></li>
                        </ul>
                    </div>

                    <input type="file" id="fileDialog" class="dropdown-item" href="#" accept=".json"></a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="removeDiagramLink" href="#">Delete Current Diagram...</a>
                </div>
            </li>



        </ul>
    </div>
</nav>