<script src="js/en-pl.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="js/lingumania.min.js"></script>
<script src="js/go.js"></script>
<script src="js/figures.js"></script>
<script src="js/shared.js"></script>
<script src="js/service.js"></script>
<script src="js/context.js"></script>

<script src="js/main.js"></script>