<span style="font-size:30px;cursor:pointer" id="closeNav">&times;</span>

<span class="badge badge-secondary">Create New Node:</span>

<br>
<div class="form-group">
    <input type="radio" name="nodeType" value="simple" id="nodeTypeSimple"> Simple</input>
    <input type="radio" name="nodeType" value="entity" id="nodeTypeEntity"> Entity</input> <br>

    <input type="radio" name="nodeType" value="decision" id="nodeTypeDecision"> Decision</input>
    <input type="radio" name="nodeType" value="ellipse" id="nodeTypeEllipse"> Ellipse</input>


    <input type="radio" name="nodeType" value="database" id="nodeTypeDatabase"> Database</input> <br>
    <input type="radio" name="nodeType" value="actor" id="nodeTypeActor"> Actor</input>

    <input type="radio" name="nodeType" value="file" id="nodeTypeFile"> File</input>


    <input type="radio" name="nodeType" value="note" id="nodeTypeNote"> Note</input>

    <input type="radio" name="nodeType" value="process" id="nodeTypeProcess"> Process</input> <br>

    <label for="nodeName">Node Name</label>
    <input class="col-sm-10" id="nodeName" type="text" placeholder="node name" />
    <label for="newNodeColor">Node Color</label>
    <input type="color" id="newNodeColor" name="newNodeColor" value="#EFEBCA"><br>
    <button type="button" class="btn btn-outline-primary btn-sm" id="addNode">Add</button>
</div>

<hr>
<span class="badge badge-secondary">Selected Node:</span><br>
<div class="form-group " id="selectedNodeSection">
    <label for="selectedNodeName">Node Name</label>
    <input class="col-sm-10" id="selectedNodeName" type="text" placeholder="selected node" /> <br>
    <label for="selectedNodeColor">Node Color</label>
    <input type="color" id="selectedNodeColor" name="selectedNodeColor" value="#EFEBCA"><br>

    <div id="selectedNodeItemsSection">

    </div>

    <div>

        <button type="button" class="btn btn-outline-success btn-sm" id="saveNode">Update</button>
        <button type="button" class="btn btn-outline-danger btn-sm" id="removeNode">Remove</button>

    </div>
</div>

<hr>
<span class="badge badge-secondary">Relationship:</span><br>

<div class="form-group " id="relationshipSection">
    <p>* select entity and field</p>
    <label for="optionsFrom">From</label>
    <SELECT id="optionsFrom">
    
        </SELECT>
    <SELECT id="fromPort">
    
        </SELECT>

    <br>
    <label for="optionsTo">To</label>
    <SELECT id="optionsTo">
                    </SELECT>
    <SELECT id="toPort">
    
        </SELECT>

    <br>
    <label for="relationshipType">Type</label>
    <SELECT id="relationshipType">
                        <option value="1">one to many</option>
                        <option value="2">one to one</option>
                   
                        <option value="4">many to many</option>
                        <option value="5">plain</option>
                        <option value="6">standard</option>
                        <option value="7">association</option>
                        <option value="8">aggregation</option>
                        <option value="9">composition</option>
                        <option value="10">generalization</option>

        </SELECT><br>
    <label for="linkLabel">Label</label>
    <input id="linkLabel" type="text" placeholder="link label" /> <br>
    <button type="button" class="btn btn-outline-primary btn-sm" id="addLink">Add</button>
    <button type="button" class="btn btn-outline-success btn-sm" id="updateLink">Update</button>
</div>