<div class="diagramTopControls container-fluid">
    <label for="diagramName"></label>
    <input type="text" id="diagramName" placeholder="Diagram name" disabled>
    <button type="button" class="btn btn-success" id="saveDiagram"><i class="fas fa-save"></i> Save</button>
    <button type="button" class="btn btn-info" id="newDiagram"><i class="far fa-plus-square"></i> New </button>
    <button type="button" class="btn btn-danger" id="removeDiagram"><i class="fas fa-trash-alt"></i> Delete</button>
</div>