<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <div id="navbar">
        <% include partials/nav %>
    </div>
    <div id="topmenu">
        <div class="row">
            <% include partials/top %>
        </div>
    </div>

    <span id="openNav">&#9776;</span>
    <div id="sidenav">
        <% include partials/side %>
    </div>

    <div id="main">
        <% include partials/diagram %>
    </div>
</body>
<% include partials/script %>


</html>