* {
    box-sizing: border-box;
    font-size: 10px;
}

#navbar a {
    font-size: 1.2em;
}

#topmenu .diagramTopControls {
    margin-bottom: 5px;
    margin-top: 2px;
    vertical-align: middle;
    font-size: 1.5em;
}

.dropdown-item {
    width: auto;
}

#sidenav {
    width: 240px;
    height: 100%;
    position: absolute;
    /* top: 70px; */
    left: 1;
    overflow-x: hidden;
    /* background-color: #343a40; */
    background-color: #f2f2f2;
    z-index: 0;
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 5px;
    font-size: 1.2em;
    transition: 0.5s;
}

#sidenav input,
select,
button {
    margin-bottom: 3px;
    margin-right: 2px;
}

#sidenav input {
    padding-left: 2px;
    padding-right: 0px;
}

#sidenav .nodeItem {
    margin-left: 1px;
}

#sidenav .badge {
    font-size: 1.1em;
    margin: 5px;
}

#sidenav #closeNav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openNav {
    position: fixed;
    top: 75px;
    left: 10px;
    z-index: 9;
    display: none;
    cursor: pointer;
    font-size: 30px;
}


/* #main #cover {
    width: 200px;
    height: 100px;
    background-color: white;
    margin-left: 2px;
    position: fixed;
    top: 75px;
    left: 240px;
    z-index: 7;
    transition: 0.5s;
   
} */

#main {
    margin-left: 240px;
    transition: 0.5s;
}

#savedModel {
    display: none;
}

#customEventContainer {
    display: none;
}